@page
@model ids.Pages.Login.Index

<div class="col-sm-12">
    <div class="row">
        <div class="login-page col-sm-4">
            <div class="login_logo">
                <img class="login_main_logo" src="~/assets/login_logo.png">
                <img class="sub_logo" src="~/assets/login_logo_2.png">
            </div>
            <partial name="_ValidationSummary" />

            @if (Model.View.EnableLocalLogin)
            {
                <div class="card-section">
                    <div class="card-body-section">
                        <form class="login_form" asp-page="/Account/Login/Index">

                            <img class="logo_icon" src="~/assets/login_icon_1.png">
                            <h3 class="welcome_title">Welcome to Our Global Platform</h3>
                            <p class="message_content">Please enter below details to login</p>
                            <input type="hidden" asp-for="Input.ReturnUrl" />
                            <div class="form-group">
                                <label asp-for="Input.Username">Email Address</label>
                                <input class="form-control" placeholder="Email Address" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>

                            <a class="link-text">Forgot Password?</a>

                            <button class="btn btn-primary login_btn" name="Input.Button" value="login">Login</button>

                        </form>
                    </div>
                </div>
            }

            @if (Model.View.VisibleExternalProviders.Any())
            {
                <div class="card-section">
@*                     <div class="card-header-section">
                        <h2>External Account</h2>
                    </div> *@
                    <div class="card-body-section">
                        <ul class="list-inline">
                            @foreach (var provider in Model.View.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-page="/ExternalLogin/Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this request.
                </div>
            }
        </div>
    </div>
</div>

